p {
  text-align: center;
  color: 	#482d2d;
}

h2 {
  text-align: center;
  color: 		#3d1818;
}

Routes {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d1818;
  background-size: 300px;
  background-position: center;
  height: 100px;
  width: 1800px;
  font-size: 150%;
  color: white;
  margin-left: auto;
  margin-right: auto;
}